{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Stripe App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Welcome to My Django Stripe App</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>
</header>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; {% now "Y" %} My Django Stripe App. All rights reserved.</p>
</footer>
{% block scripts %}
{% endblock %}
</body>
</html>